/* 헤더바 */

header {
  margin-top: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 10px;
}

/* 메뉴바 */
.menu-bar {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.menu-bar__location {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.menu-bar__location img {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  width: 15px;
}

.menu-bar__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar__icons img {
  width: 25px;
  margin-right: 10px;
}
